<div id="top">

    <div class="options">
        <h1>PITBULL ROULETTE</h1>
      <%=link_to "VIDEO", root_path, id: "video" %>

      <%=link_to "MUSIC", root_path, id: "music" %>

      <%=link_to "IMAGE", root_path, id: "image" %>
  </div>
</div>
  <!-- <iframe width="425" height="349" src=<%=@video%> frameborder="0" allowfullscreen></iframe>
   -->


<div id ="player">
  <div id="content">
  </div>
  <div class="options">
    <a href="" id="next">Next</a>
    <br>
    <br>
    <a href="" id="close">Close</a>
  </div>
</div>

<div id="scframe">
  <a href="" id="close2">Close</a>
  <br>
  <div id="scplayer">
  </div>
</div>