<div id="top">
  <div class="options">
    <h1>PITBULL ROULETTE</h1>
    <%=link_to "VIDEO", root_path, id: "video", class: "deadlink" %>
    <%=link_to "MUSIC", root_path, id: "music", class: "deadlink"  %>
    <%=link_to "IMAGE", root_path, id: "image", class: "deadlink"  %>
  </div>
</div>

<div id ="videoframe">
  <a href="" class="close deadlink">Close</a>
  <br>
  <div id="content"></div>
  <div class="options">
    <a href="" id="prev" class="deadlink"><<  </a>
    <a href="" id="next" class="deadlink">  >></a>
    <br>
    <br>
  </div>
</div>


<div id="scframe">
  <a href="" class="close deadlink">Close</a>
  <br>
  <div id="scplayer"></div>
</div>

<div id ="imageframe">
  <a href="" class="close deadlink">Close</a>
  <br>
  <iframe id="gif"></iframe>
</div>