<table>
<tr>
  <td>
    <%=link_to "VIDEO", root_path, id: "video" %>
  </td>
  <td>
    <%=link_to "MUSIC", root_path, id: "music" %>
  </td>
  <td>
    <%=link_to "IMAGE", root_path, id: "image" %>
  </td>
</tr>
</table>
<!-- <iframe width="425" height="349" src=<%=@video%> frameborder="0" allowfullscreen></iframe>
 -->
<div id ="player">
  <iframe id="content">
  </iframe>
  </div>